<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
</head>
<body>
<h1>Invoice for $name</h1>
<p>Amount due: $$amount</p>

<ul>
#foreach($item in $items)
    <li>$item</li>
#end
</ul>

</body>
</html>